<% @blogs.each do  |blog| %>
 <% if  blog.id == 1 || blog.id == 4 || blog.id == 7  %>
<h3 class="font-weight-bold"><%= blog.category %></h3>
<hr class="border-dark mb-4">
<div class="card-deck">
  <% end %>
  <div class="card">
    <%= image_tag("https://res.cloudinary.com/dcuvoemqb/image/upload/v1606092221/move_and_groove/blog-images/blog-image-00#{blog.id}.jpg", style:'width:100%') %>
    <div class="card-body blog">
      <h5 class="card-title"><%= blog.title %></h5>
      <p class="card-text"><%= blog.content %></p>
      <a href="#" class="btn btn-primary">Read More</a>
    </div>
  </div>
<% if blog.id == 3 || blog.id == 6 || blog.id == 9 %>
</div>
<% end %>
<% end %>