@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "../node_modules/rfs/scss";

/**/
.error {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.note {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.warning {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
}

.success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

/* HOME */
.navbar {
  max-width: 1120px;
  margin: 0 auto;
}

.jumbotron {
  background-image: url(https://res.cloudinary.com/dcuvoemqb/image/upload/v1606092195/move_and_groove/dumbbells-2465478_1920.jpg);
  background-size: cover;
  background-position: center;
  height: 500px;
}

.hero-wrapper {
  background-color: rgba(0, 0, 0, 0.4);
  position: relative;
  z-index: 2;
  width: 100%;
  padding: 20px;
}

.main-heading {
  @include rfs(54px);
}

.sub-heading {
  @include rfs(32px);
}

.hero-text {
  @include rfs(18px);
}

.main-heading,
.sub-heading,
.hero-text {
  text-shadow: 0 2px 2px gray;
}

.fab {
  font-size: 20px;
  cursor: pointer;
}

.cta {
  margin-top: 10%;
}

.card-deck {
  margin-bottom: 2rem;
}

.form-container {
  max-width: 500px;
  margin: 0 auto 70px;
}

@media (min-width: 350px) {
  .home-blog-1 {
    .card-title {
      height: 50px;
    }
    .card-text {
      height: 75px;
    }
  }

  .home-blog-2 {
    .card-title {
      height: 50px;
    }
    .card-text {
      height: 75px;
    }
  }

  .home-blog-3 {
    .card-title {
      height: 50px;
    }
    .card-text {
      height: 75px;
    }
  }

  .recipe {
    .card-title {
      height: 50px;
    }
    .card-text {
      height: 75px;
    }
  }

  .blog {
    .card-title {
      height: 75px;
    }
    .card-text {
      height: 170px;
    }
  }
}
